.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, hsla(350, 100%, 91%, 0.842), hsla(0, 0%, 0%, 0.164) 60%);
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: rgba(0, 0, 0, 0.87);
    font-size: 80px;
    font-weight: 600;
}

.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button{
    width: 280px;
    height: 70px;
    border-radius: 35px;
    background-color: rgba(255, 0, 0, 0.842);
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 30px;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}